
{% extends "base.html.twig"%}

{% block body %}
   
    <div class="jumbotron text-center">
    <h1>BIENVENUE CHEZ MOMOPRIX</h1>
    <p>MOMOPRIX : VOTRE BONHEUR A PETIT PRIX ;)</p>
    </div>

{% endblock %}


